@import url('https://fonts.googleapis.com/css2?family=Rum+Raisin&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@300&display=swap');

*{
    margin: 0px;
    padding: 0px;
}

#page-background{
    width: 100%;
    height: 1090px;
    float: left;
    /* background: yellow; */
}

#page-background1{
    width:1200px;
    height: 1090px;
    margin: auto;
    /* background: green; */
}

/* Header Start */

#navigation-bar{
    width: 1200px;
    height: 90px;
    float: left;
    /* background: blueviolet; */
}

#site-name{
    width: 200px;
    height: 50px;
    float: left;
    font-size: 40px;
    margin-top: 20px;
    margin-left: 100px;
    font-family: 'Rum Raisin', sans-serif;
    color: #4C4F90;
}

#nav-bar{
    width: 800px;
    height: auto;
    margin-left: 100px;
    float: left;
    /* background: red; */
}

#link-name, #link-name1 {
    list-style-type: none;
    float: left;
    margin-top: 35px;
    font-size: 20px;
    text-decoration: none;
    padding-left: 60px;
}

#link-name1 {
    color: #1E48DF;
}

#link{
    text-decoration: none;
    color: black;
    font-family: 'Red Hat Display', sans-serif;
}

/* Header End */

/* Page Content Start */

#page-content{
    width: 1200px;
    height: 1000px;
    float: left;
    /* background: red; */
}

body{
    min-height: 100vh;
    overflow-x: hidden;
}

/*Gallery css*/

#gallery-box{
    width: 1200px;
    height: 50px;
    background: #C4C4C4;
    float: left;
    border-radius: 10px;
    font-family: 'Red Hat Display', sans-serif;
}

#gallery-name{
    font-family: 'Red Hat Display', sans-serif;
    font-size: 40px;
    font-weight: 900;
    text-align: center;
}

#gallery{
    width: 50%;
    height: 500px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    float: left;
}

h1{
    text-align: center;
}

#galleryMain{
    width: 1200px;
    height: 800px;
    margin: auto;
    /* background: chocolate; */
}

#animal-background{
    width: 350px;
    height: 630px;
    background: #C4C4C4;
    border-radius: 20px;
    margin-top: 50px;
    margin-left: 5px;
    position: absolute;
}

#animal{
    width: 340px;
    height:450px;
    border-radius:20px;
    float:left;
    margin-top:110px;
    border: 10px solid white ;
    position: absolute;
}

#link-animal{
    text-decoration: none;
}

.animal-home{
    width:auto;
    height:auto;
    font-family: 'Red Hat Display', sans-serif;
    color: black;
    font-size:50px;
    margin-top: 540px;
    margin-left: 20px;
    position: absolute;
}

#bird-background{
    width: 350px;
    height: 630px;
    background: #C4C4C4;
    border-radius: 20px;
    margin-top: 300px;
    margin-left: 430px;
    position: absolute;
}

#bird{
    width:350px;
    height:300px;
    border-radius:20px;
    float:left;
    margin:420px 420px;
    border: 10px solid white ;
    position: absolute;
}

#link-bird{
    text-decoration: none;
}

.bird-home{
    width:auto;
    height:auto;
    font-family: 'Red Hat Display', sans-serif;
    color: black;
    font-size:50px;
    margin-top: 530px;
    margin-left: 120px;
    position: absolute;
}

#pet-background{
    width: 350px;
    height: 630px;
    background: #C4C4C4;
    border-radius: 20px;
    margin-top: 50px;
    margin-left: 850px;
    position: absolute;
}

#pet{
    width: 340px;
    height:450px;
    border-radius:20px;
    float:left;
    margin-top:110px;
    margin-left: 850px;
    border: 10px solid white ;
    position: absolute;
}

#pet-animal{
    text-decoration: none;
}

.pet-home{
    width:auto;
    height:auto;
    font-family: 'Red Hat Display', sans-serif;
    color: black;
    font-size:50px;
    margin-top: 540px;
    margin-left: 40px;
    position: absolute;
}

/*gallery css ends*/

/* Page Content End */

/* Footer Start */
#footer-outer{
    width: 100%;
    height: 80px;
    background: #C6C6F4;
    float: left;
}

#footer-outer1{
    width: 1200px;
    height: 80px;
    margin: auto;
    font-family: 'Red Hat Display', sans-serif;
}

#section1{
    width: 200px;
    float: left;
    margin-top: 10px;
    /* background: red; */
}

#part1, #part2{
    float: left;
    /* margin-left: 50px; */
    margin-right: 50px;
}

#part3{
    float: left;
}

#pic1{
    border-radius: 20px;
    float: left;
    margin-left: 100px;
    margin-right: 20px;
}

#vertical-row{
    width: 1px;
    height: 60px;
    float: left;
    margin-right: 40px;
    background: black;
}

#email-footer{
    width: 250px;
    height: auto;
    margin-right: 40px;
    margin-top: 10px;
    margin-right: 10px;
    float: left;
    /* background: green; */
}

#vertical-row1{
    width: 0.01rem;
    height: 60px;
    float: left;
    margin-right: 10px;
    background: black;
}

#join{
    margin-left: 200px;
    font-size: 20px;
    font-weight: 900;
}

#social{
	width:400px;
	height:60px;
	font-family:Maiandra GD;
	font-size:15px;
	float:left;
    margin-left: 50px;
	/*background:red;*/
}

#facebook{
	width:50px;
	height:50px;
	float:left;
	margin-left:35px;
	/* margin-top:10px; */
}

#youtube{
	width:50px;
	height:50px;
	float:left;
	margin-left:20px;
}

#pinterest{
	width:50px;
	height:50px;
	float:left;
	margin-left:30px;
	/* margin-top:7px; */
}

#twitter{
	width:50px;
	height:50px;
	float:left;
	margin-left:20px;
	/* margin-top:7px; */
}

#instagram{
	width:50px;
	height:50px;
	float:left;
	margin-left:20px;
	/* margin-top:5px; */
}

#link1{
	text-decoration:none;
	color:black;
}

#link1:hover{
	color:#a6b1b9;
}

#section1{
    width: 1200px;
}

/* Copyright background start */

#copyright-background{
    width: 100%;
    height: 20px;
    background: #718CD1;
    float: left;
}

#copyright-background1{
    width: 1200px;
    height: 20px;
    margin: auto;
    text-align: center;
    font-family: 'Red Hat Display', sans-serif;
}
/* Footer End */