@import url('https://fonts.googleapis.com/css2?family=Rum+Raisin&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@300&display=swap');

*{
    margin: 0px;
    padding: 0px;
}

#page-background{
    width: 100%;
    height: 1000px;
    float: left;
    /* background: red; */
}

#page-background1{
    width:1200px;
    height: 1000px;
    margin: auto;
    /* background: green; */
}

/* Header Start */

#navigation-bar{
    width: 1200px;
    height: 90px;
    float: left;
    /* background: blueviolet; */
}

#site-name{
    width: 200px;
    height: 50px;
    float: left;
    font-size: 40px;
    margin-top: 20px;
    margin-left: 100px;
    font-family: 'Rum Raisin', sans-serif;
    color: #4C4F90;
}

#nav-bar{
    width: 800px;
    height: auto;
    margin-left: 100px;
    float: left;
    /* background: red; */
}

#link-name, #link-name1 {
    list-style-type: none;
    float: left;
    margin-top: 35px;
    font-size: 20px;
    text-decoration: none;
    padding-left: 60px;
}

#link-name1 {
    color: #1E48DF;
}

#link{
    text-decoration: none;
    color: black;
    font-family: 'Red Hat Display', sans-serif;
}

/* Header End */

/*page content start*/
#page-content{
    width: 800px;
    height: 700px;
    float: left;
}

#home-box{
    width: 1100px;
    height: 180px;
    border-radius: 20px;
    margin-left: 50px;
    padding: 1% 2%;
    background: #C4C4C4;
    justify-content: center;
}

/* #dog{
    padding: 30px 4px;
    float: left;
}

#tiger{
    padding: 30px 20px;
    float: left;
    height: 80px;
}

#bird1{
    padding: 30px 20px;
    float: right;
    height: 80px;
    margin: auto;
} */
#animal-image{
    display: flex;
}
#dog,#tiger,#bird1,#bird2{
    flex: 40%;
    padding: 20px;
}


/* img{
    width: 100%;
} */
/*page content ends*/

/* Footer Start */
#footer-outer{
    width: 100%;
    height: 80px;
    background: #C6C6F4;
    float: left;
}

#footer-outer1{
    width: 1200px;
    height: 80px;
    margin: auto;
    font-family: 'Red Hat Display', sans-serif;
}

#section1{
    width: 200px;
    float: left;
    margin-top: 10px;
    /* background: red; */
}

#part1, #part2{
    float: left;
    /* margin-left: 50px; */
    margin-right: 50px;
}

#part3{
    float: left;
}

#pic1{
    border-radius: 20px;
    float: left;
    margin-left: 100px;
    margin-right: 20px;
}

#vertical-row{
    width: 1px;
    height: 60px;
    float: left;
    margin-right: 40px;
    background: black;
}

#email-footer{
    width: 250px;
    height: auto;
    margin-right: 40px;
    margin-top: 10px;
    margin-right: 10px;
    float: left;
    /* background: green; */
}

#vertical-row1{
    width: 0.01rem;
    height: 60px;
    float: left;
    margin-right: 10px;
    background: black;
}

#join{
    margin-left: 200px;
    font-size: 20px;
    font-weight: 900;
}

#social{
	width:400px;
	height:60px;
	font-family:Maiandra GD;
	font-size:15px;
	float:left;
    margin-left: 50px;
	/*background:red;*/
}

#facebook{
	width:50px;
	height:50px;
	float:left;
	margin-left:35px;
	/* margin-top:10px; */
}

#youtube{
	width:50px;
	height:50px;
	float:left;
	margin-left:20px;
}

#pinterest{
	width:50px;
	height:50px;
	float:left;
	margin-left:30px;
	/* margin-top:7px; */
}

#twitter{
	width:50px;
	height:50px;
	float:left;
	margin-left:20px;
	/* margin-top:7px; */
}

#instagram{
	width:50px;
	height:50px;
	float:left;
	margin-left:20px;
	/* margin-top:5px; */
}

#link1{
	text-decoration:none;
	color:black;
}

#link1:hover{
	color:#a6b1b9;
}

#section1{
    width: 1200px;
}

/* Copyright background start */

#copyright-background{
    width: 100%;
    height: 20px;
    background: #718CD1;
    float: left;
}

#copyright-background1{
    width: 1200px;
    height: 20px;
    margin: auto;
    text-align: center;
    font-family: 'Red Hat Display', sans-serif;
}
/* Footer End */